#container {
  max-height: 100vh;
  overflow: hidden;
}

#box3 {
  overflow: auto;
  white-space: nowrap;
  background: url("/img/bg3.png");
}

.background-1 {
  height: 100vh;
  background: url('/img/bg1.png') no-repeat;
}

/*animation for first 3 slides*/

.animate-it-top {
  animation-name: top;
  position: relative;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animate-it-bottom {
  animation-name: bottom;
  position: relative;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animate-it-to-right {
  animation-name: to-right;
  position: relative;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animate-it-to-right-2 {
  animation-name: to-right-2;
  position: relative;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes top {
  0%   {top: 0}
  100% {top: -100vh}
}

@keyframes bottom {
  0%   {top: -100vh}
  100% {top: -200vh}
}

@keyframes to-right {
  0%   {left: 0}
  100% {left: 100vw}
}

@keyframes to-right-2 {
  0%   {left: 100vw}
  100% {left: 200vw}
}


/*comeback animation*/

.animate-it-to-top {
  animation-name: to-top;
  position: relative;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animate-it-from-bottom {
  animation-name: from-bottom;
  position: relative;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes to-top {
  0%   {top: -100vh}
  100% {top: 0}
}

@keyframes from-bottom {
  0%   {top: -200vh}
  100% {top: -100vh}
}
/**/

.background-2 {
  height: 100vh;
  background: url('/img/bg2.png') no-repeat;

}

.background-3-1 {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  background-image: url('/img/scheme3_1.png');
}

.background-3-2 {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  background-image: url('/img/scheme3_2.png');
}

.background-3-3 {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  background-image: url('/img/scheme3_3.png');
}

.blur-1-2 {
  filter: blur(20px) ;
  height: 100px;
  margin: -50px -10px -50px -10px;
  overflow: visible;
  z-index: 100;
  background-image: linear-gradient(#5cbeec, #5cbeec, #0877de);
}

.blur-2-3 {
  filter: blur(20px) ;
  height: 100px;
  margin: -60px -10px -40px -10px;
  overflow: visible;
  background-color: #232499;
  z-index: 100;
}

