:root {
  --lineCurrent: -640px;
  --lineCloser: -320px;
  --posCurrent: 174px;
  --posCloser: 814px;
}

#container {
  max-height: 100vh;
  overflow: hidden;
  white-space: nowrap;
  touch-action: none;
}

#box3 {
  overflow: hidden;
  white-space: nowrap;
}

#bg {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  height: 300vh;
  background: url('/img/bg.png');
}

.background-1 {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  height: 100vh;
  /*background: url('/img/dot1_1.png');*/
}

.background-2 {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background: url('/img/ice2.png');
}

.background-3-1 {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  left: -200vw;
  background-image: url('/img/scheme3_1.png');
}

.background-3-2 {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  left: -100vw;
  background-image: url('/img/scheme3_2.png');
}

.background-3-3 {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  left: 0;
  background-image: url('/img/scheme3_3.png');
}

/*toggler*/

#polygon-1 {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    height: 76px;
    width: 63px;
    left: 174px;
    bottom: 32px;
    background: url('/img/polygon_1.png') no-repeat;
    /*padding: 20px;*/
}

.toggle-line {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    left: 195px;
    bottom: 74px;
    width: 640px;
    height: 12px;
    touch-action: none;
}

#active-line {
  position: absolute;
  display: inline-block;
  background-color: #d1eaff;
  width: 640px;
  height: 12px;
  left: -640px;
  z-index: 100;
  touch-action: none;
}

#passive-line {
  display: inline-block;
  background-color: #d1eaff;
  opacity: 0.3;
  width: 640px;
  height: 12px;
}

/*Pages*/
#pages {
  overflow: hidden;
  position: fixed;
  white-space: nowrap;
  width: 14px;
  height: 85px;
  top: 343px;
  right: 27px;
}

.page {
  background-color: #fff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.active-page {
  background-color: #f78b1f;
}
/**/

/*Dot positioning*/

.dot-settings {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #de791B;
}

.dot-high-opacity {
  background-color: rgba(222,121,27,1);
}

.dot-low-opacity {
  background-color: rgba(222,121,27,0.42);
}

.dot1 {
  top: 278px;
  left: 578px;
  width: 16px;
  height: 16px;
}

.dot2 {
  top: 434px;
  left: 282px;
  width: 10px;
  height: 10px;
}

.dot3 {
  top: 523px;
  left: 826px;
  width: 6px;
  height: 6px;
}

.dot4 {
  top: 542px;
  left: 483px;
  width: 6px;
  height: 6px;
}

/*Dot animation*/

.dot-animation {
  animation-name: pulse1;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.dot-animation-delayed {
  animation-name: pulse1;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: -2s;
}

.dot-animation-innerborder {
  animation-name: pulse2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.dot-animation-outter-border {
  animation-name: pulse3;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse1 {
  from  {transform: scale(0);
    background-color: rgba(222,121,27);
    border: 1px solid rgb(222,121,27);
    opacity: 1;
  }
  to {transform: scale(2.6);
    border: 1px solid rgb(222,121,27);
    opacity: 0;
    }
}

@keyframes pulse2 {
  from  {transform: scale(1.3);
    opacity: 0.5;}
  to {transform: scale(2.6);
    opacity: 1;}
}

@keyframes pulse3 {
  from  {transform: scale(2.6);}
  to {transform: scale(2.7);}
}

/*animation for swipe*/

.animate-it-to-bottom {
  animation-name: to-bottom;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.animate-it-to-bottom-2 {
  animation-name: to-bottom-2;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.animate-it-to-right {
  animation-name: to-right;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.animate-it-to-right-2 {
  animation-name: to-right-2;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes to-bottom {
  0%   {top: 0}
  100% {top: -100vh}
}

@keyframes to-bottom-2 {
  0%   {top: -100vh}
  100% {top: -200vh}
}

@keyframes to-right {
  0%   {left: 0}
  100% {left: -100vw}
}

@keyframes to-right-2 {
  0%   {left: -100vw}
  100% {left: -200vw}
}


/*comeback animation*/

.animate-it-to-top-2 {
  animation-name: to-top-2;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.animate-it-to-top {
  animation-name: to-top;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.animate-it-to-left {
  animation-name: to-left;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.animate-it-to-left-2 {
  animation-name: to-left-2;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes to-top-2 {
  0%   {top: -100vh}
  100% {top: 0}
}

@keyframes to-top {
  0%   {top: -200vh}
  100% {top: -100vh}
}
@keyframes to-left {
    0%   {left: -200vw}
    100% {left: -100vw}
}

@keyframes to-left-2 {
    0%   {left: -100vw}
    100% {left: -0}
}

/*animation for closer*/

.closer-line {
  animation-name: closer-line;
  position: absolute;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;

}

.closer-pos {
  animation-name: closer-pos;
  position: absolute;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes closer-line {
  0% {left: var(--lineCurrent)}
  100% {left: var(--lineCloser)}
}

@keyframes closer-pos{
  0% {left: var(--posCurrent)}
  100% {left: var(--posCloser)}
}