#container {
  max-height: 100vh;
  overflow: hidden;
  white-space: nowrap;
}

#box3 {
  overflow: hidden;
  white-space: nowrap;
  /*background: url("/img/bg3.png");*/
}

#bg {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  height: 300vh;
  background: url('/img/bg.png');
}

.background-1 {
  height: 100vh;
  background: url('/img/ice2.png');
}

.background-2 {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background: url('/img/ice2.png');
}

.background-3-1 {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  left: -200vw;
  background-image: url('/img/scheme3_1.png');
}

.background-3-2 {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  left: -100vw;
  background-image: url('/img/scheme3_2.png');
}

.background-3-3 {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  left: 0;
  background-image: url('/img/scheme3_3.png');
}


/*animation for first 3 slides*/

.animate-it-to-bottom {
  animation-name: to-bottom;
  position: relative;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animate-it-to-bottom-2 {
  animation-name: to-bottom-2;
  position: relative;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animate-it-to-right {
  animation-name: to-right;
  position: relative;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animate-it-to-right-2 {
  animation-name: to-right-2;
  position: relative;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes to-bottom {
  0%   {top: 0}
  100% {top: -100vh}
}

@keyframes to-bottom-2 {
  0%   {top: -100vh}
  100% {top: -200vh}
}

@keyframes to-right {
  0%   {left: 0}
  100% {left: -100vw}
}

@keyframes to-right-2 {
  0%   {left: -100vw}
  100% {left: -200vw}
}


/*comeback animation*/

.animate-it-to-top-2 {
  animation-name: to-top-2;
  position: relative;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animate-it-to-top {
  animation-name: to-top;
  position: relative;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animate-it-to-left {
    animation-name: to-left;
    position: relative;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.animate-it-to-left-2 {
    animation-name: to-left-2;
    position: relative;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes to-top-2 {
  0%   {top: -100vh}
  100% {top: 0}
}

@keyframes to-top {
  0%   {top: -200vh}
  100% {top: -100vh}
}
@keyframes to-left {
    0%   {left: -200vw}
    100% {left: -100vw}
}

@keyframes to-left-2 {
    0%   {left: -100vw}
    100% {left: -0}
}
/**/
